<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.TC_001_RegisterPage"/>
      <class name="test.TC_002_InvalidRegisterDataTest"/>
       <class name="test.TC_003_ValidLoginTest"/>
       <class name="test.TC_004_InvalidLoginTest"/>
        <class name="test.TC_005_SearchHotelTest"/>
        <class name="test.TC_006_SelectHotelsTest"/>
      <class name="test.TC_007ValidateSearchHotel"/>
      <class name="test.TC_008_ChangePasswordTest"/>
      <class name="test.TC_009_HomeContentDetailsTest"/>
      <class name="test.TC_010_ValidateBooking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
